<ul id="users_list">
    {% for user in users %}
        <li>{{ user }}
            <button type="button" class="btn btn-default" aria-label="Edit"
                    onclick="fill_form({{ user.id }})">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
             <button type="button" class="btn btn-default" aria-label="Delete"
                    onclick="delete_user({{ user.id }})">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </li>
    {% endfor %}
</ul>
