{% extends "_base.html" %}
{% block content %}
    <div class="min-height-600px bg-silver">
        <div class="container pad45">
            <div class="row">
                <div class="services-wrapper">
                    <div class="col-md-4">
                        <div class="icon {{ service.bg_color }}">
                            <span class="fa {{ service.fa_icon }}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>{{ service.name }}</h4>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% for line in service_list %}
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            {{ line.name|capfirst }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            {{ line.description|capfirst }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            {{ line.price }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% if service_list.has_other_pages %}
                <ul class="pagination">
                    {% if service_list.has_previous %}
                        <li><a href="?page={{ service_list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in service_list.paginator.page_range %}
                        {% if service_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if service_list.has_next %}
                        <li><a href="?page={{ service_list.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}