{% extends "myadmin/_base.html" %}
{% load static %}
{% block title %}
    Пользователи
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-8">
            Пользователи:
        {% include 'myadmin/users_list.html' %}
        </div>

        <div class="col-md-4">
            <form id="user_form">
                {% include 'registration_form.html' %}
            </form>
            <button type="button" class="btn btn-info" onclick="send_data()">Edit account</button>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{   block.super }}
        <script src="/static/js/create_user.js"></script>
{% endblock %}