{% extends "myadmin/_base.html" %}
{% load static %}
{% block title %}
    Услуги
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-7">
            Услуги:
        {% include 'myadmin/services_list.html' %}
        </div>

        <div class="col-md-5">
            <form id="services_form">
                {% include 'registration_form.html' %}
            </form>
            <button type="button" class="btn btn-info" onclick="send_data()">Edit account</button>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{   block.super }}
        <script src="/static/js/create_service.js"></script>
{% endblock %}