<table class="table table-hover table-striped table-condensed" id="users_list">
    <thead>
    <tr>
        <th># id</th>
        <th>Логин</th>
        <th>E-mail</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user }}</td>
            <td>{{ user.email }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Edit"
                        onclick="fill_form({{ user.id }})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать
                </button>
                <button type="button" class="btn btn-danger btn-sm" aria-label="Delete"
                        onclick="delete_user({{ user.id }})">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
